@model ASP.NETCoreIdentityCustom.Models.Nxenesi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nxenesi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mbiemri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mbiemri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLindjes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLindjes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumriTelefonit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumriTelefonit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shkolla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shkolla.EmriShkolles)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
