@model PaginatedList<ASP.NETCoreIdentityCustom.Models.Nxenesi>

@{
    ViewData["Title"] = "Index";
}



<html lang="en">
<head runat="server">
    <title><%: Page.Title %> - My ASP.NET Application</title>
    <asp:PlaceHolder runat="server">
    </asp:PlaceHolder>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <form runat="server">
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-light" id="sidebar-wrapper">
                <div class="sidebar-heading"></div>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>

                    <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Nxenesis" asp-action="index">Nxenesit</a>
                    <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Shkollas" asp-action="">Shkolla</a>
                    <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Lenda2" asp-action="">Lendet</a>
                    <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Transkripta2" asp-action="index">Transkripta e notave</a>
                    <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Oraris" asp-action="index">Orari mesimor</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Contact us</a>
                </div>
            </div>
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button type="button" id="menu-toggle" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </nav>
                <div class="container-fluid">
                    <h1 class="mt-4">Nxenesit</h1>
                    <p>
                        <form asp-action="Index" method="get">
                            <div class="form-actions no-color">
                                <p>
                                    Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                                    <input type="submit" value="Search" class="btn btn-default" /> |
                                    <a asp-action="Index">Back to Full List</a>
                                </p>
                            </div>
                        </form>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <p>Emri</p>
                                    </th>
                                    <th>
                                        <p></p>
                                    </th>
                                    <th>
                                        <p>Data e lindjes</p>
                                    </th>
                                    <th>
                                        <p>Numri i telefonit</p>
                                    </th>
                                    <th>
                                        <p>Emri i shkolles</p>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Emri)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mbiemri)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataLindjes)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumriTelefonit)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Shkolla.EmriShkolles)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @{
                            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                        }

                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-default @prevDisabled">
                            Previous
                        </a>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-default @nextDisabled">
                            Next
                        </a>




                    </p>
                </div>
            </div>
        </div>
        <script src="wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>


        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
        </div>
    </form>
</body>
</html>
      