@model IEnumerable<ASP.NETCoreIdentityCustom.Models.Transkripta2>

 @{
    ViewData["Title"] = "Index";
}




<html lang="en">
<head runat="server">
    <title><%: Page.Title %> - My ASP.NET Application</title>
    <asp:PlaceHolder runat="server">
    </asp:PlaceHolder>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <form runat="server">
        <div class="d-flex" id="wrapper">
            <div class="bg-light border-light" id="sidebar-wrapper">
                <div class="sidebar-heading"></div>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>

                    <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Lenda2" asp-action="">Lendet</a>

                    <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Transkripta2" asp-action="">Transkripta e notave</a>
                    <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Oraris" asp-action="">Orari mesimor</a>
                    <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Shkollas" asp-action="">Shkolla</a>
                    <a class="list-group-item list-group-item-action bg-light" asp-area="" asp-controller="Nxenesis" asp-action="">Nxenesi</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Aboutus</a>
                    <a href="#" class="list-group-item list-group-item-action bg-light">Contact us</a>
                </div>
            </div>
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button type="button" id="menu-toggle" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </nav>
                <div class="container-fluid">
                    <h1 class="mt-4">Transkripta e notave</h1>
                    <p>

                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>



                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                        @Html.DisplayNameFor(model => model.Nota)
                                </th>
                                <th>
                                        @Html.DisplayNameFor(model => model.CreatedAt)
                                </th>
                                <th>
                                        @Html.DisplayNameFor(model => model.FullName)
                                </th>
                                <th>
                                        @Html.DisplayNameFor(model => model.Lenda)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Nota)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.CreatedAt)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(model => item.FullName)
                                    </td>

                                    <td>
                                            @Html.DisplayFor(modelItem => item.Lenda.EmriLendes)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.TranskriptaId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.TranskriptaId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.TranskriptaId">Delete</a>
                                    </td>
                                </tr>
                                }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <script src="wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>

        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
            </footer>
        </div>
    </form>
</body>
</html>
